header {
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.193);
    nav {
        font-size: 20px;
        margin-right: 30px;
    }
    .logo {
        font-family: 'Bebas Neue', sans-serif ;
        margin-left: 30px;
    }
}